/* General Styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

h2, h3,h1 {
    margin: 10px 0;
}

a {
    text-decoration: none;
    color: white;
}

ul {
    list-style-type: none;
}

/* Sidebar */
.sidebar {
    width: 220px;
    height: 100vh;
    background-color: #372591;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px;
}

.sidebar h2 {
    color: white;
    text-align: center;
}

.sidebar ul {
    padding: 0;
}

.sidebar ul li {
    margin: 20px 0;
}

.sidebar ul li a {
    color: white;
    font-size: 18px;
}

/* Main Content */
.main-content {
    margin-left: 270px;
    padding: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-info {
    font-size: 14px;
}

.stats {
    display: flex;
    gap: 20px;
}

.stat-box {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    width: 30%;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

.patient-record {
    background-color: #f9f9f9;
    padding: 15px;
    margin: 15px 0;
    border-left: 5px solid #4CAF50;
}
